@page "/complete"
@attribute [StreamRendering]

<PageTitle>Completed MadLibs</PageTitle>

<h1>Completed Mad Libs</h1>


@code {

    protected override async Task OnInitializedAsync()
    {
       
    }
}
