@inherits LayoutComponentBase

<MudThemeProvider Theme="_theme" />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent>
        <MudContainer MaxWidth="MaxWidth.Medium">
            @Body
        </MudContainer>
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private MudTheme _theme = new()
    {
        PaletteLight = new PaletteLight()
        {
                Primary =  Colors.BlueGray.Darken3,
                Secondary = Colors.Amber.Lighten3,
                PrimaryLighten = Colors.BlueGray.Lighten4,
                SecondaryLighten = Colors.Amber.Darken3,
                Tertiary = Colors.LightBlue.Lighten5,
                Dark = Colors.DeepOrange.Darken4,
            Warning = Colors.Amber.Accent4,
            Info = Colors.Green.Default,
            TextPrimary = Colors.BlueGray.Darken4,
            TextSecondary = Colors.DeepOrange.Darken4,
            AppbarBackground = Colors.BlueGray.Darken3,
            AppbarText = Colors.Amber.Lighten4,
            DrawerBackground = Colors.BlueGray.Darken3,
            DrawerIcon = Colors.Amber.Lighten2,
            DrawerText = Colors.Amber.Lighten3,
            Background = Colors.Amber.Lighten4
        },
            Typography = new Typography()
            {
                Default = new DefaultTypography()
                {
                    FontSize = "0.9rem",
                    LineHeight = "1.6"
                },
                H1 = new H1Typography()
                {
                    FontWeight = "600",
                    FontSize = "4rem",
                    LetterSpacing = "4px"
                },
                H5 = new H5Typography()
                {
                    FontWeight = "600"
                },
                Subtitle1 = new Subtitle1Typography()
                {
                    FontSize = "1.3rem",
                    FontWeight = "500"
                },
                Subtitle2 = new Subtitle2Typography()
                {
                    FontSize = "1.2rem",
                    FontWeight = "400"
                }
            }
    };
    private bool _drawerOpen = true;
    private void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}